# [submodule "themes/PaperMod"]
#     path = themes/PaperMod
#     url = "https://github.com/adityatelange/hugo-PaperMod.git"

    git submodule add "https://github.com/adityatelange/hugo-PaperMod.git" themes/PaperMod