.Title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px; /* Adjust as needed */
    border-radius: 1px;
    border: none;
    outline: none;
    background: #009578;
    color: #ffffff;
    font-weight: bold;
  }
  
  .Title p {
    margin: 0;
  }
  
  .Title p span {
    font-family: Calibri;
    font-size: 72pt;
  }
  
  .Title p span:nth-child(2) {
    letter-spacing: 15.25pt;
  }
  

body {
    margin: 0;
    background: #333333;
}

.container {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
}

.large-area {
    height: 100%;
    padding: 20px;
    box-sizing:  border-box;
    color: #aaaaaa;
    background: #444444;
    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    font-family: monospace;
    font-size: 16px; 
    transition: background 0.25s,color 0.25s;
}

.large-area:hover,
.large-area:focus{
    background: #4a4a4a;
}

.large-area:focus {
    color: #eeeeee;
}


.controls__button{
    padding: 8px 14px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #009578;
    color: #ffffff;
    font-weight: bold;
}

.controls__button:active{
    background: #00705a;
}
